.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .add-user-btn {
    background-color: #3b3b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .profile-icon {
    font-size: 24px;
  }
  